### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

In [6]:
import csv,sqlite3

con = sqlite3.connect ("FinalDB.db")
crs= con.cursor()

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [12]:
%load_ext sql

In [19]:
import pandas

In [20]:
df = pandas.read_csv("ChicagoCensusData.csv")
df.to_sql('CENSUS_DATA',con,if_exists='replace', index = False)

df = pandas.read_csv("ChicagoCrimeData.csv")
df.to_sql('CHICAGO_CRIME_DATA',con,if_exists='replace', index = False)

df = pandas.read_csv("ChicagoPublicSchools.csv")
df.to_sql('CHICAGO_PUBLIC_SCHOOLS',con,if_exists='replace', index = False)

566

Establish a connection between SQL magic module and the database `FinalDB.db`

In [21]:
%sql sqlite:///FinalDB.db

## Problems



### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [22]:
%sql SELECT COUNT(*) from CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [23]:
%sql SELECT Community_Area_Name,Community_Area_Number FROM CENSUS_DATA WHERE Per_Capita_Income<11000

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 26.0),
 ('South Lawndale', 30.0),
 ('Fuller Park', 37.0),
 ('Riverdale', 54.0)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [32]:
%sql SELECT Case_Number from CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%Minor%'

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [33]:
%sql SELECT DISTINCT Case_Number,Primary_Type, Date, Description FROM CHICAGO_CRIME_DATA WHERE Primary_Type = 'KIDNAPPING'

 * sqlite:///FinalDB.db
Done.

[('HN144152', 'KIDNAPPING', '2007-01-26', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [34]:
%sql SELECT DISTINCT Primary_Type FROM CHICAGO_CRIME_DATA WHERE Location_Description Like '%School%'

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [46]:
sql SELECT '"Elementary, Middle, or High School"', AVG(SAFETY_SCORE) AVERAGE_SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY '"Elementary, Middle, or High School"'

 * sqlite:///FinalDB.db
Done.

[('Elementary, Middle, or High School', 49.50487329434698)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [47]:
%sql SELECT Community_Area_Name,PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [48]:
%sql Select community_area_number ,Count(*) AS Number_of_Crime from CHICAGO_CRIME_DATA GROUP BY community_area_number ORDER BY Number_of_Crime DESC LIMIT 1

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [49]:
%sql SELECT Community_Area_Name,Hardship_Index FROM CENSUS_DATA WHERE Hardship_Index = (Select Max(Hardship_Index) FROM CENSUS_DATA)

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [50]:
%sql SELECT Community_Area_Name,Community_Area_Number FROM CENSUS_DATA WHERE Community_Area_Number = (SELECT Community_Area_Number FROM CHICAGO_CRIME_DATA GROUP BY community_area_number ORDER BY Count(*) DESC LIMIT 1)

 * sqlite:///FinalDB.db
Done.

[('Austin', 25.0)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> Â© IBM Corporation 2023. All rights reserved. <h3/>